/*___________________________________________________________________React Style___________________________*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&display=swap');

/* webkit style */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5b5d62;
  height: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e8189; 
}


*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  height: 60px;
  width: 100%;
  position: fixed;
}
.scrollHeader{
  background-color: #282c34 !important;
  transition: 1s;
}
.col{
  /*background-color: #282c34 !important;*/
}
nav{
  height: 60%;
  width: 100%;
  font-size: 1.5rem;
}
.fs{
  font-size: 2rem;
}
header ul{
  display: flex;
}
ul li{
  display:  inline-block;
}
.nav-link{
  color: white;
}
.nav-lin:hover{
  transition: 2s;
  color: #d2e4ff;
}
button span{
  color: white;
}

/*------------------------------------------Skills-------------------------------------------*/

#About{
  height: 90vh;
  width: 100%;
  padding-top: 3rem;
  background-image: url('../img/UniverseImage.gif');
  background-attachment: fixed;

}
#AboutMeContent{
  height: 73%;
  float: left;
  width: 59%;
  margin-top: 8rem;
  justify-content: center;
}
#AboutTitle{
  font-size: 2.5rem;
  margin-left: 5rem;
}
#AboutLinks1, #AboutLinks2{
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #282c34;
  color: white;
  margin: 0 .5rem;
  padding: .25rem .5rem;
  border-radius: 10px;
  border-right: 5px #d53c1b solid;
}
#AboutLinks1{
  background-color: #fff;
  color: #282c34;
  margin-left: 5rem;
}
#AboutEnd{
  height: 100%;
  width: 40%;
  float: right;
}
#AboutLogo{
  width: 225px;
  height: 225px;
  margin: 20% 0;
  margin-left: 10rem;
  background-image: url('../img/WhiteLogo.png');
  background-color: #d8d8d9;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  border-radius: 100%;
  cursor: pointer;
}
#AboutLogo:hover{
  transition: .5s;
  background-color: white;
  border: 5px solid black;
  background-size: 90%;
}


/*------------------------------------------Skills-------------------------------------------*/
#Skills{
  width: 80%;
  height: 1000px;
  margin: 8rem 10%;
  box-shadow: 0px 0px 10px 2px #282c34;
  background-color: #282c34;
}
#LeftSkills{
  float: left;
  width: 50%;
  height: 100%;
  background-color: #5b5d62;
}
#LeftSkills div#d{
  width: 60%;
  height: 200px;
  margin: 0 20%;
}
#LeftSkills div#d img{
  width: 100%;
  height: 100%;
}
#LeftSkills div#pourc{
  width: 90%;
  margin: 0 5%;
}
#RightSkills{
  float: right;
  width: 50%;
  height: 100%;
}
#RightSkills div{
  width: 90%;
  height: 100%;
  margin: 0 5%;
}
#RightSkills div h5,p{
  color: #c9ced9;
}
.progress-bar{
  background-color: #c9ced9;
}

/*------------------------------------------Projects-------------------------------------------*/
.Back{
  width: 100%;
  background-image: url('../UniverseImage.gif');
  background-attachment: fixed;
}
#MyProjects{
  width: 80%;
  height: 1000px;
  margin: 8rem 10%;
  /*box-shadow: 0px 0px 10px 2px #282c34;*/
  /*background-color: #282c34;*/
}
.ProjetctRow{
  width: 100%;
  height: 22%;
  /*border-bottom: 2px solid #c9ced9;*/
}
.Project{
  width: 33%;
  height: 100%;
  float: left;
}
.ProjectsInfo{
  padding-top: 5%;
  font-size: 1.5rem;
  display: none;
}
.ProjectsInfo h4,p{
  padding-top: 25%;
  font-size: 1.5rem;
  color: #282c34;
}
.ProjectsInfo>h4{
  margin-top: -60px;
}
.ProjetImage{
  width: 200px;
  height: 200px;
  /*background-image: url('../public/Logo.png');*/
  background-color: #d8d8d9;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}
.ProjetImage:hover{
  transition: .5s;
  background-color: white;
  border: 5px solid black;
  background-size: 100%;
}
.ProjetImage:hover .ProjectsInfo{
  display: block;
}
.ProjetImage h6{
  font-size: 1.2rem;
  color: #282c34;
  padding-top: 30%;
}
.ProjetImage h6 i{
  margin-left: 1rem;margin-right: .5rem;
}
.ProjetImage p{
  margin-top: -40px;
  font-size: 1rem;
}

/*------------------------------------------Contact-------------------------------------------*/

#Contact{
  width: 80%;
  height: 500px;
  margin: 8rem 10%;
  box-shadow: 0px 0px 10px 2px #282c34;
  background-color: #282c34;
}
#LeftContact{
  float: left;
  width: 40%;
  height: 100%;
  background-color: #5b5d62;
}
#RightContact{
  float: right;
  width: 60%;
  height: 100%;
}
.ContactImage{
  width: 200px;
  height: 200px;
  background-image: url('../img/WhiteLogo.png');
  background-color: #d8d8d9;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 15%;
  margin-top: 10px;
}
.ContactImage:hover{
  transition: .5s;
  background-color: white;
  border: 5px solid  #282c34;
  background-size: 90%;
}
.form-group{
  width: 80%;
  margin: 0 10%;
}
form .row{
  margin-top: 2rem;
}

input{
  background-color: #d8d8d9;
}

/*------------------------------------------Footer-------------------------------------------*/

footer{
  background-color: #282c34;
  width: 100%;
  height: 400px;
}
#LeftFooter{
  float: left;
  width: 40%;
  height: 65%;
}
#LeftFooter ul li{
  display: block;
}
#RightFooter{
  float: right;
  width: 60%;
  height: 65%;
}
footer #BottomFooter p{
  margin: 0 2rem;
  height: 35%;
}
footer div.SocialMedia div a{
  text-decoration: none;
  color: #ddca8c;
}
footer div.SocialMedia div a:hover{
  color: #1e59ca;
}
